html {
	background: #A9E2F3;
}

#main {
	width: 1266px;
	height: 624px;

	position: absolute;
	margin: auto;
	top: 0; bottom: 0; right: 0; left: 0;
	background: ;
}

#sidebar {
	width: 184px;
	height: 342px;

	position: absolute;
	margin: auto;
	top: 0; left: 0;
	background: #000;
}

#body {
	width: 844px;
	height: 342px;

	position: absolute;
	margin: auto;
	top: 0; right: 0;
	background: #000;
}

h1 {
	font-family: 'Comic Sans MS';
	color: #fff;
	text-align: center;
}