#parent {
	position: absolute;
	margin: auto;
	top: 0; bottom: 190;
	left: 0;
	height: 500px;
	width: 410px;

	z-index: 2;

}

.general {
	margin: 0 auto;
	background-color: #FFF;
	width: 420px;
	height: 90px;
	border-bottom: solid #A9E2F3 10px;
	transition: .2s;
	/* box-shadow: 2px 2px 2px #888888; */
}

	.general:hover {
		border-bottom: solid #A9E2F3 20px;
}

.chan {
	margin: 0 auto;
	background-color: #FFF;
	width: 420px;
	height: 90px;
	border-bottom: solid #ECF6CE 10px;
	transition: .2s;
	/* box-shadow: 2px 2px 2px #888888; */
}

	.chan:hover {
		border-bottom: solid #A9F5A9 20px;
}

.social {
	margin: 0 auto;
	background-color: #FFF;
	width: 420px;
	height: 90px;
	border-bottom: solid #F5D0A9 10px;
	transition: .2s;
	/* box-shadow: 2px 2px 2px #888888; */
}

	.social:hover {
		border-bottom: solid #F5D0A9 20px;
}

.ch {
	margin: 0 auto;
	background-color: #FFF;
	width: 420px;
	height: 90px;
	border-bottom: solid #D8CEF6 10px;
	transition: .2s;
	/* box-shadow: 2px 2px 2px #888888; */
}

	.ch:hover {
		border-bottom: solid #D8CEF6 20px;
}

.title {
	color: #FFF;
	text-align: center;
	padding-top: 22px;
	margin: auto;
	width: 90px;
}

.sub {
	padding-left: 12px;
	padding-top: 12px;
	color: #848484;
}

a {
	padding-left: 16px;
	text-decoration: none;
	color: #F8E0F7;
	transition: .2s;
	outline: 0;
	font-family: 'haxr';
}

.alink {
	color: #000;
}

	a:hover {
		color: #848484;
}

.google {
	margin: 0 auto;
	display: block;
	font-family: 'haxr'; font-size: 16px;
	padding-left: 14px;
}