#main {
	position: absolute;
	margin: 0 auto;
	top: 0; bottom: 0; left: 0; right: 0;

	height: 500px; width: 100%;
	background: #52515C;

}

#title {
	height: 166px;
	background: #52515C;
	border: 0;
	border-bottom: 1px #FFF solid;
}

#logo {
	width: 228px;
}

#links {
	width: 598px;
	height: 30px;

	position: absolute;
	margin: 0 auto;
	left: 148;
	top: 88;

	background: none;
}

ul {
	margin-top: 2;
	width: auto;
}

li {
	font-size: 140%;
	display: inline;
	color: white;

	padding: inherit;
}

#social {
	position: absolute;
	margin: auto;
	top: 0; left: 0; right: 0;

	background: none;

	height: 70; width: 220;
}
