@font-face {
	font-family: 'roboto';
	src: url('roboto.ttf');
}

* {
	outline: none;
}

body {
	background: url('images/1457252998804.jpg') #7ea8a0;
	background-size: 100%;
}

#box {
	position: absolute;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;

	width: 100%;


	opacity: 1;

	text-align: center;
	font-family: 'roboto';
}

#otherbox {
	position: absolute;
	background-size: 100%;
	margin: auto;
	top: 0; bottom: 0px;
	right: 40px;

	height: 70%;
	width: 70%;

	max-width: 1280px;
	max-height: 720px;

	background: url('images/fullsize/tab.png');
	background-size: 100%;

	box-shadow: #000 2px 2px 2px;
}

#screenboxmain {
	position: absolute;
	margin: auto;
	top: 0; bottom: 0;
	left: 40;

	width: 260;
	height: 70%;

	opacity: 1;

	text-align: center;
	font-family: 'roboto';

	overflow-x: scroll;
	white-space: nowrap;
}

.screenbox {
	width: 256;
	height: 144;
	background: #000;
	display: inline-block;
	position: relative;
	opacity: 0.7;

	border: #000 2px solid;

	transition: 0.3s ease;
}

.screenbox:hover {
	opacity: 1;
}

p {
	line-height: 12px;
}

a {
	text-decoration: none;
	color: #585858;
	opacity: 1;
}

a:hover {
	text-decoration: underline;
}

figure {
	display: inline-block;
}
