@font-face {
	font-family: 'roboto';
	src: url('roboto.ttf');
}

html {
	background: #7ea8a0;
	background-size: 100%;
}

#box {
	position: absolute;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;

	width: 1440;
	height: 900;


	opacity: 1;

	text-align: center;
	font-family: 'roboto';
}

#gap {
	height: 200;
}

#screenboxmain {
	position: absolute;
	margin: auto;
	top: 250; bottom: 0;
	left: 0; right: 0;

	width: 1440;
	height: 900;

	opacity: 1;

	text-align: center;
	font-family: 'roboto';
}

.screenbox {
	width: 256;
	height: 144;
	background: #000;
	display: inline-block;
	position: relative;
	opacity: 0.7;

	border: #000 2px solid;

	transition: 0.3s ease;
}

.screenbox:hover {
	opacity: 1;
}

p {
	line-height: 12px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

figure {
	display: inline-block;
}