@font-face {
	font-family: 'roboto';
	src: url('roboto.ttf');
}

* {
	outline: none;
}

body {
	background: url('images/1457252998804.jpg') #7ea8a0 no-repeat fixed;
	background-size: 100%;
}

#parent {
	position: relative;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;
	width: 90%;
	height: 90%;
}

#box {
	position: relative;
	margin: auto;
	top: 138px; bottom: 0px;
	left: 0px; right: 0px;

	width: 748px;
	height: 100%;


	opacity: 1;

	text-align: center;
	font-family: 'roboto';
}

#otherbox {
	position: absolute;
	background-size: 100%;
	margin: auto;
	top: 40px;
	right: 0px;

	height: 75%;
	width: 75%;

	max-width: 1280px;
	max-height: 720px;

	background: url('images/fullsize/tab.png');
	background-size: 100%;

	box-shadow: #000 2px 2px 2px;

}

#screenboxmain {
	position: absolute;
	margin: auto;
	top: 40px;
	left: 0px;

	width: 260;
	height: 75%;

	opacity: 1;

	text-align: center;
	font-family: 'roboto';

	overflow-x: scroll;
}

.screenbox {
	width: 256;
	height: 144;
	background: #000;
	display: inline-block;
	position: relative;
	opacity: 0.7;

	border: #000 2px solid;

	transition: 0.3s ease;
}

.screenbox:hover {
	opacity: 1;
}

p {
	line-height: 16px;
}

a {
	text-decoration: none;
	color: #fbf1eb;
}

a:hover {
	text-decoration: underline;
}

figure {
	display: inline-block;
}

figcaption {
	padding-bottom: 24px;
	opacity: 0.7;
}