@font-face {
	font-family: 'main';
	src: url('Ubuntu-C.ttf');
}

* {
	outline: none;
}

body {
	background: #f4f4f4;
	background-size: 100%;

	font-family: 'main';
}

#main {
	height: 426px;
	width: 703px;

	position: absolute;
	margin: auto;

	top: 0; bottom: 0;
	left: 0; right: 0;

	background: none;
}

#bottom {
	height: 314px; /* 309 */
	width: 500px;

	position: absolute;
	margin: auto;
	left: 0;
	bottom: 43px;

	background: #f4f4f4;

	border: 3px solid #e6e6e6;

	color: #89b5ff;

	text-align: center;
}

#hidden {
	height: 314px; /* 309 */
	width: 500px;

	position: absolute;
	margin: auto;
	left: 0;
	bottom: 43px;

	background: #f4f4f4;

	border: 3px solid #e6e6e6;

	color: #89b5ff;

	text-align: center;

	display: none;
}

#right {
	height: 420px;
	width: 340px;

	position: absolute;
	margin: auto;
	left: 515;

	background: url('bass.png') no-repeat;
	background-size: 40%;

	border: 3px solid #e6e6e6;
}

#rightwo {
	height: 420px;
	width: 183px;

	position: absolute;
	margin: auto;
	right: 0;

	background: url('hotaru.png') no-repeat;
	background-size: 100%;

	border: 3px solid #e6e6e6;

	display: none;
}

#search {
	height: 33px;
	width: 506px;

	position: absolute;
	margin: auto;
	left: 0;
	bottom: 0px;

	background: #f4f4f4;

	border: 3px solid #e6e6e6;

	color: #89b5ff;

	text-align: center;

	font-family: 'main';
}

#otherone {
	height: 47px;
	width: 500px;

	position: absolute;
	margin: auto;
	left: 0;
	top: 0px;

	background: #f4f4f4;

	border: 3px solid #e6e6e6;

	color: #89b5ff;

	text-align: center;
}

h1 {
	transform: translateY(-50%);
	top: 50%;
}

a {
	color: #89b5ff;
	text-decoration: none;
}

ul {
	text-align: left;
	list-style-type: none;
	margin-left: -24px;
	margin-top: 0;
}

li {
	display: inline;
	padding-left: 12px;
}

#links {
	height: 98px;
	position: relative;
	transform: translateY(-50%);
	top: 50%;
	background: none;
}
