@font-face {
    font-family: 'moonbold';
         src:url('resources/Moon-Bold.ttf') format('truetype')
}


@font-face {
    font-family: 'moonlight';
        src:url('resources/Moon-Light.ttf') format('truetype')

}

@font-face {
    font-family: 'robotolight';
        src:url('resources/Roboto-Light.ttf') format('truetype')

}

.main-div {
	height: 40%;
}

.bg-div {
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.context-div {
	margin-top: 0px;
	height: 10%;
	background-color: rgba(255, 255, 255, 0.6);
}

body {
	margin: 0 auto;
	background: url("resources/bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	/* background-position: -100px -150px; */
}

h1 {
	font-size: 70px;
	text-shadow: 1px 1px 1px #BDBDBD;
	font-family: 'moonbold';
	color: white;
	text-align: center;
}


h2 {
	font-size: 30px;
	text-shadow: 1px 1px 1px #BDBDBD;
	font-family: 'moonbold';
	color: white;
	text-align: center;
}

a {
	color: #000000;
	text-decoration: none;
	font-family: 'robotolight';
}


nav ul ul {
	display: none;
	float: left;

}

nav ul li:hover > ul {
	display: block;
		-webkit-transition: color .2s ease;
		-moz-transition: color .2s eae;s
		-ms-transition: color .2s ease;
		-o-transition: color .2s ease;
		transition: color .2s ease;

}

nav ul {
	background:;
	padding: 0 0;
	border-radius: 0px;  
	list-style: none;
	position: relative;
	display: inline-table;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
  	transition: all 0.25s ease-out;
}
	
nav ul:after {
	content: ""; clear: both; display: block;
	float: left;
}

nav ul li {
	float: left;
	min-width: 200px;
	max-width: 200px;
	background: rgba(230,230,230,0.5);
	-webkit-transition: color 0.25s ease;
	-moz-transition: color 0.25s ease;
	-ms-transition: color 0.25s ease;
	-o-transition: color 0.25s ease;
  	transition: color 0.25s ease;
}
nav ul li:hover {

}
nav ul li:hover a {
	color: #585858;
	/* background: rgba(164,164,164,0.5); */
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;		
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
	
nav ul li a {
	display: block; padding: 25px 40px;
	color: #848484; text-decoration: none;
}
	
nav ul li a:hover {
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

nav ul ul {
	position: absolute; top: 100%;
	float: none;
	-webkit-transition: color .4s ease;
	-moz-transition: color .4s ease;
	-ms-transition: color .4s ease;
	-o-transition: color .4s ease;
	transition: color .4s ease;
}
nav ul ul li {
	float: none;
	min-width: 200px;
	background: rgba(132,132,132,0.5);
}
nav ul ul li a {
	padding: 15px 40px;
	color: #2E2E2E;
}	

nav ul ul li a:hover {
	background: rgba(0,0,0,0.5);
	color: #D8D8D8;
}


/* code for dropdown menu based on http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu */

.main-img {
	height: 256px;
	float: middle;
}

input, textarea, select, button {
	width: 800px;
	height: 50px;
 	margin-top: 0;
 	border: 0px;
 	background: rgba(255,255,255,0.75);
 	font-size: 30px;
 	color: rgba(0,0,0,0.5);
 	text-align: center;
 }